body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.obj-detect-area {
  font-size: 12px;
  font-weight: bold;
}

div.obj-detect-area#highlight {
  border: 2px solid cyan;
  color: cyan;
}

div.obj-detect-area#unhighlight {
  border: 2px solid red;
  color: red;
}

